# Ignore node_modules and OS files
node_modules/
.DS_Store
Thumbs.db

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
env/
venv/

# Ignore VS Code settings
.vscode/

# Ignore log files
*.log

# Ignore Google Apps Script files
appscripts/

# Ignore build and dist folders
build/
dist/

# Ignore local environment files
.env
.env.*

# Ignore Mac system files
*.DS_Store

# Ignore Windows system files
*.Thumbs.db

# Ignore temporary files
*.tmp
*.swp
~$*
